body {
  margin: 0;
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background: rgb(231, 231, 231);
}

.container {
  display: flex;
}

.bm {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .container {
    display: block;
  }
  .bm {
      margin-left: 0;
  }
}

h1, h2 {
  margin: 0 auto;
}

span {
  font-size: small;
  font-weight: 100;
}
